* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

/* cabecera */
.header {
        background: url(/images/backgroundheader.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-flow: column nowrap;
        height: 300px;
    }
        /* menu */
        .header-nav {
            /* background: #194350; */
            display: flex;
            flex-flow: row nowrap;
            height: auto;
            align-items: center;
        }
            .logo {
                /* background: #ff8882; */
                flex: 1 1 auto;            
            }
                .logo img {
                    width: 40%;
                }
            .nav {
                /* background: #ff8882; */
                color: #000;
                flex: 5 1 auto;
            }
                .nav a {
                    text-decoration: none;
                }
                .nav a:hover {
                    background-color: #111;
                    color: white;
                }
            .social {
                /* background: #ff8882; */
                flex: 1 1 auto;
            }
                .social a:hover {
                    background-color: #111;
                    color: white;
                }
        /* cabecera imagen */
        .header-img {
            background: rgba(0, 0, 0, .1);
            text-align: center;
        }
        h1 {
            /* background: #9dbeb9; */
            font-family: 'Coustard', serif;
            color: rgba(255, 0, 0, .5);
        }
    /* seccion */
    .section-main {
        background: #000;
        display: flex;
    }
        .articulos-section {
            background: #23049d;
            display: flex;
            flex: 2 1 auto;
            flex-flow: row wrap;
        }
            .articulo {
                background: #aa2ee6;
                flex: 1 1 40%;     
            }
            .nav-articulos {
                background: #ff79cd;
                flex: 1 1 100%;
            }
        /* publi aside */
        .aside-ads {
            background: #f0ebcc;
            flex: 1 1 auto;
        }
            .publi {
                background: #3d84b8;
            }
    /* footer */
    .footer {
        background: #000;
    }
        .nav-footer {
            background: #e3cdc1;
        }

/* tablet */
@media all and (max-width: 800px) {
    .section-main {
        background: yellow;
        flex-direction: column;
    }
}

/* movil */
@media all and (max-width: 600px) {
    .header-nav {
        flex-direction: column;
    }
    .articulos-section {
        flex-direction: column;
    }
}